# Python/Conda 가상환경
__pycache__/
*.pyc
*.egg-info/
/malmm/
/imagebind_env/

# IDE 및 시스템 파일
.idea/
.vscode/
.DS_Store

# 대용량 결과물 및 모델 파일 (매우 중요!)
output/
output_backup/
output_old_model_backup/
llm/

# 임시 백업 폴더
LAVIS_backup/
lavis/conceptual-captions/
