# Python/Conda 환경
__pycache__/
*.pyc
*.egg-info/
/malmm/

# Datasets, Outputs, & Large Files
# 프로젝트 내 모든 하위 폴더에 적용되도록 이름만으로도 무시
data/
output/
llm/
conceptual-captions/

# 우리가 확인했던 특정 경로도 명시적으로 추가
lavis/datasets/
lavis/output/

# Backup folders
LAVIS_backup/

# IDE/System files
.idea/
.vscode/
.DS_Store
